/* Dark mode specific designs */

body {
    background: #181818;
    color: white;
}

a {
    color: gray;
}

button {
    background-color: #1f1f1f;
    border: black;
    color: white;
}

p.copyright {
    color: lightgray;
    outline: none;
    border: none;
}

div.output-wrap {
    background-color: #1f1f1f;
}

div.output-wrap > h2{
    color: white;
}

textarea {
    color: lightsalmon !important;
    background-color: #1f1f1f;
    caret-color: white !important;
}

.hr {
    background-color: lightgray;
}

div.docs > div.syntax {
    background-color: #1f1f1f;
}

p.command {
    color: lightsalmon !important;
}

span.command {
    color: lightsalmon !important;
}

a#share {
    color: white;
}

textarea#type {
    color: white !important;
    caret-color: white;
}

div#output-generator {
    color: lightsalmon !important;
}

/* Selection */
::moz-selection {
    color: black;
    background: rgba(255, 255, 255, 0.9);
}

::selection {
    color: black;
    background: rgba(255, 255, 255, 0.9);
}

/* Visualization */
div.brainfuck-visualization {
    background-color: #1f1f1f;
    border-color: gray;
}

div.brainfuck-visualization > div.cell {
    border-color: gray;
}

div.brainfuck-input > input#slider::before {
    color: white;
}
